<!-- 채팅방 생성을 담당하는 부분 -->
{% extends 'chat-layout.html' %}

{% block content %}
<script src="https://unpkg.com/@elastic/apm-rum@5.12.0/dist/bundles/elastic-apm-rum.umd.min.js"></script>
<script>
  elasticApm.init({
    serviceName: "my-service-name",
    serverUrl: 'https://129403cb556b4d73bed31ce164b3929b.apm.ap-northeast-2.aws.elastic-cloud.com:443',
  });
</script>
  <fieldset>
    <legend>채팅방 생성</legend>
    <form action="/anonimous/room" method="post">
      <div>
        <input type="text" name="title" placeholder="방 제목">
      </div>
      <div>
        <input type="number" name="max" placeholder="수용 인원(최소 2명)" min="2" value="10">
      </div>
      <div>
        <input type="password" name="password" placeholder="비밀번호(없으면 공개방)">
      </div>
      <div>
        <button type="submit">생성</button>
      </div>
    </form>
  </fieldset>
{% endblock %}